<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訊息列表</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- star style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href='/stylesheets/star.css'>
</head>

<body>
    <!--star-->

    <!-- m.id, m.title, m.content, m.lastupdatedtime, m.author, u.email -->
    <div>
        <a href="/msgs/create">新增留言</a>
        <a href="/users">個人資料</a>
        <form action="/msgs/search" method="POST">
            <input type="text" name="titlevalue" id="titlevalue">
            <input type="submit">
        </form>
        <table border="1px">
            <tr>
                <th>是否能編輯</th>
                <th>姓名</th>
                <th>標題</th>
                <th>內文</th>
                <th>發文者email</th>
                <th>發文者ID</th>
                <th>最後更新時間</th>
            </tr>
            <% for(var i=0;i<rows.length;i++) { %>
                <tr>
                    <td>
                        <% if (rows[i].author==userid){ %>
                            <a href="/msgs/edit/<%= rows[i].id %>">編輯</a><br>
                            <a href="/msgs/delete/<%= rows[i].id %>">刪除</a><br>
                            <% } %>
                    </td>
                    <td>
                        <%= rows[i].username %>
                    </td>
                    <td>
                        <%= rows[i].title %>
                    </td>
                    <td>
                        <%= rows[i].content %>
                    </td>
                    <td>
                        <%= rows[i].email %>
                    </td>
                    <td>
                        <%= rows[i].author %>
                    </td>
                    <td>
                        <%= rows[i].lastupdatedtime %>
                    </td>
                    <td>
                        <a href="/msgs/lookarticle/<%= rows[i].id %>">查看</a>
                    </td>
                </tr>
                <% } %>
                    
        </table>
    </div>
    <div>
    </div>

</body>

</html>